@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

.reserve {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.418);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rContainer {
    display: flex;
    flex-direction: column;
    width: 449px;
    padding: 1rem;
    background-color: aliceblue;
    font-size: 14px;
    font-weight: 500;
}

.rCantainerFlex {
    display: flex;
    justify-content: space-between;
}

.rItem {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.rTitle {
    font-weight: 600;
    font-family: 'Young Serif', serif;
    font-size: 15px;
}
.rDesc , .rMax{
    font-size: 15px;
    font-weight: 400;
}
b{
    font-weight: 600;
}
.room{
    display: flex;
    gap: .5rem;
}
.room input{
    cursor: pointer;
}
.rButton{
    margin-top: 2rem;
    padding: 1rem 0rem;
    text-align: center;
    background-color:#001f4a;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    font-size: 16px;
}
.closeButton{
    font-size: 25px;
    cursor: pointer;
}