:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.6;
  font-weight: 400;
  text-decoration: none;
  border: none;
}

body {
  margin: 0;
  padding: 0;
}