.header{
    position: relative;
    background-color: #003580;
    color: White;
    display: flex;
    justify-content: center;
}
.HeaderContainer{
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}
.HeaderContainer.listMode{
    margin: 20px 0px 0px 0px;
}
.Headerlist{
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
}
.headerlistItem{
    display: flex;
    align-items: center;
    gap:10px;
}
.headerlistItem.active{
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
}
.headerdisc{
    margin: 20px 0px ;
}
.headerbtn{
    background: #0071c2;
    color: white;
    font-weight: 500;
    padding: 10px ;
    border: none;
}
.Headersearch{
    background-color: white;
    border: 3px solid #febb02;
    display: flex;
    align-items: center;
    padding: 10px 0px;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    width: 100%;
    max-width: 1024px;
}
.HeaderitemBox{
    
}
.headerSearchItem{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.headerIcon{
    color: #003580;
    font-size: 20px;
}
.headerSearchInput{
    border: none;
    outline: none;
}
.HeaderSearchText{
    color: #818181;
    cursor: pointer;
}
.date{
    position:absolute;
    top: 50px;
}
.options{
    position: absolute;
    top: 50px;
    color: gray;
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.75);
}
.optionsItem{
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.optionCounter{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: #000;
}
.optionConterButton{
    width: 30px;
    height: 30px;
    border: 1px solid #0071c2;
    color: #0071c2;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
}
.optionConterButton:disabled{
    cursor:not-allowed;
}
